{% macro render_field(type, field) %}
{%- if field.literal is not none -%}
    {%- set value = field.literal -%}
{%- elif not field.required -%}
    {%- set value = "None" -%}
{%- endif -%}

{%- set args = [] -%}

{# Message.date is a special case #}
{%- if type.name == "Message" and field.name == "date" -%}
    {%- set args = args + ["gt=0"] -%}
{%- endif -%}

{%- if field.name != field.alias -%}
    {%- set args = args + ['alias="' ~ field.name ~ '"'] -%}
{%- endif -%}

{%- if args -%}
= Field({{ value ~ ", " if value is defined else "" }}{{ args | join(", ") }})
{%- elif value is defined -%}
= {{ value }}
{%- endif -%}
{%- endmacro %}

{% set MAX_LINE_LENGTH = 88 %}

{% macro to_docstring(string, indent) -%}
{{ string | replace('"', "'") | wordwrap(MAX_LINE_LENGTH - indent) }}
{%- endmacro %}

{% macro render_description(string, indent) -%}
"""
{{ to_docstring(string, indent) }}
"""
{%- endmacro %}


{% macro render_method_docstring(method, indent) -%}
"""
{{ to_docstring(method.description, indent) }}

{% if method.fields %}
Args:
{% for f in method.sorted_fields %}
    {{ to_docstring("{} ({}): {}".format(f.name, f.type_annotation, f.description), 16) | indent(8) }}
{% endfor %}
{% endif %}
"""
{%- endmacro %}
