{% import "macros.jinja" as macros %}
{% include "header.py.jinja" %}


from aogami.base import Base

from aogami.types import (
{% for t in spec.types %}
    {{ t.name }},
{% endfor %}
)

class TelegramAPI(Base):
{% for m in spec.methods %}

    async def {{ m.name | to_snake_case }}(
        self,
        {% if m.fields %}
        *,
        {% for f in m.sorted_fields %}
        {{ f.name }}: {{ f.type_annotation }}{% if not f.required %} = None{% endif %},
        {% endfor %}
        {% endif %}
    ) -> {{ m.returns | join(" | ") }}:
        {{ macros.render_method_docstring(m, 8) | indent(8)}}

        return await self.method(
            "{{ m.name }}",
            {{ m.returns | join(" | ") }},
    {% for f in m.fields %}
            {{ f.name }}={{ f.name }},
    {% endfor %}
        )
{% endfor %}
