{% import "macros.jinja" as macros %}
{% include "header.py.jinja" %}


from typing import Annotated, Literal

from pydantic import BaseModel, ConfigDict, Field


class TelegramObject(BaseModel):
    model_config = ConfigDict(frozen=True)


class Response[T](TelegramObject):
    ok: bool
    result: T | None = None
    error_code: int | None = None
    description: str | None = None
    parameters: ResponseParameters | None = None
{% for t in spec.types %}


    {% if t.is_union %}
        {% set discriminator = spec.find_union_discriminator(t.subtypes) %}
        {% set type_annotation = t.subtypes | join(" | ") %}
        {% if discriminator %}
type {{ t.name }} = Annotated[{{ type_annotation }}, Field(discriminator="{{ discriminator }}")]
        {% else %}
type {{ t.name }} = {{ type_annotation }}
        {% endif %}

    {% else %}
class {{ t.name }}(TelegramObject):
    {{ macros.render_description(t.description, 4) | indent(4) }}
        {% for f in t.fields %}

    {% set field = macros.render_field(t, f) %}
    {{ f.alias }}: {{ f.type_annotation }}{{ " " ~ field if field }}
    {{ macros.render_description(f.description, 4) | indent(4) }}
        {% endfor %}
    {% endif %}
{% endfor %}
